@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Product List</h1>
    @foreach (var product in Model)
    {
        <div class="row product">
            <p>Product id: @product.Product_ID</p>
            <p>@product.Product_title</p>
            <p>@product.Product_desc</p>
        </div>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
