@{
    ViewData["Title"] = "Product List";
}

<div>
    <h1>Welcome to the Product List</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="row productList">
                <div>
                    <button class="btn btn-primary" onclick="populateList()">Update</button>
                    <button class="btn btn-primary" onclick="refreshList()">Refresh</button>
                </div>
                <b>Search by:</b>
                <select class="form-select" id="carMake" aria-label="Default select example">
                  <option value="0" selected>Car maker</option>
                  <option value="1">Audi</option>
                  <option value="2">BMW</option>
                  <option value="3">Fiat</option>
                  <option value="4">Ford</option>
                  <option value="5">GM</option>
                  <option value="6">Honda</option>
                  <option value="7">Mazda</option>
                  <option value="8">Mercedes</option>
                  <option value="9">Nissan</option>
                  <option value="10">Subaru</option>
                  <option value="11">Suzuki</option>
                  <option value="12">Toyota</option>
                  <option value="13">Volvo</option>
                </select>
                <select class="form-select" id="carModel" aria-label="Default select example">
                  <option value="0" selected>Car model</option>
                  <option value="1">Coupe</option>
                  <option value="2">Hatchback</option>
                  <option value="3">Minivan</option>
                  <option value="4">Sedan</option>
                  <option value="5">SUV</option>
                  <option value="6">Wagon</option>
                </select>
                <select class="form-select" id="carColor" aria-label="Default select example">
                  <option value="0" selected>Car color</option>
                  <option value="1">black</option>
                  <option value="2">blue</option>
                  <option value="3">green</option>
                  <option value="4">grey</option>
                  <option value="5">red</option>
                  <option value="6">white</option>
                </select>
                <select class="form-select" id="carTrans" aria-label="Default select example">
                  <option value="0" selected>Transmission</option>
                  <option value="1">automatic</option>
                  <option value="2">manual</option>
                </select>
            </div>
        </div>
        <div class="col-md-9" id="productList">
        </div>
    </div>
</div>
<script type="text/javascript">
    const carMake = document.getElementById("carMake");
    const carModel = document.getElementById("carModel");
    const carColor = document.getElementById("carColor");
    const carTrans = document.getElementById("carTrans");
    const pList = document.getElementById("productList");
    var carMakeT = ["", "Audi", "BMW", "Fiat", "Ford", "GM", "Honda", "Mazda",
        "Mercedes", "Nissan", "Subaru", "Suzuki", "Toyota", "Volvo"];
    var carModelT = ["", "Coupe", "Hatchback", "Minivan", "Sedan", "SUV", "Wagon"];
    var carColorT = ["", "black", "blue", "green", "grey", "red", "white"];
    var carTransT = ["", "automatic", "manual"];
    var carMakeV = 0;
    var carModelV = 0;
    var carColorV = 0;
    var carTransV = 0;
    carMake.addEventListener("change", (e) => {carMakeV = e.target.value;});
    carModel.addEventListener("change", (e) => {carModelV = e.target.value;});
    carColor.addEventListener("change", (e) => {carColorV = e.target.value;});
    carTrans.addEventListener("change", (e) => {carTransV = e.target.value;});
    populateList();
    function refreshList() {
        carMakeV = 0;
        carModelV = 0;
        carColorV = 0;
        carTransV = 0;
        for (let i = 0; i < carMake.options.length; i++) { 
            if (carMake.options[i].value == 0) { 
                carMake.options[i].selected = true;
                break;
            }
        }
        for (let i = 0; i < carModel.options.length; i++) {
            if (carModel.options[i].value == 0) {
                carModel.options[i].selected = true;
                break;
            }
        }
        for (let i = 0; i < carColor.options.length; i++) {
            if (carColor.options[i].value == 0) {
                carColor.options[i].selected = true;
                break;
            }
        }
        for (let i = 0; i < carTrans.options.length; i++) {
            if (carTrans.options[i].value == 0) {
                carTrans.options[i].selected = true;
                break;
            }
        }
        populateList();
    }
    function populateList() {
        var modelData = @Html.Raw(Json.Serialize(Model));
        // Checking the list agaisnt the filters
        var list = [];
        var count = 0;
        for (let i = 0; i < modelData.length; i++) {
            list[i] = 1;
            if (carMakeV != 0 && modelData[i].product_make != carMakeT[carMakeV]) {
                list[i] = 0; 
                continue;
            }
            if (carModelV != 0 && modelData[i].product_model != carModelT[carModelV]) {
                list[i] = 0; 
                continue;
            }
            if (carColorV != 0 && modelData[i].product_color != carColorT[carColorV]) {
                list[i] = 0; 
                continue;
            }
            if (carTransV != 0 && modelData[i].product_trans != carTransT[carTransV]) {
                list[i] = 0; 
                continue;
            }
            if (list[i] == 1) count++;
        }
        // Producing html tags for valid elements of the list
        var str = "";
        if (count == 0) {
            str = str + "<div>No product available</div>";
        }
        else {
            for (let i = 0; i < modelData.length; i++) {
                if (list[i] == 1) {
                    str = str + "<div class=\"row productList\">";
                    str = str + "<a href=\"ProductDetails?Product_ID=" + modelData[i].product_ID + "\">";
                    str = str + "<div class=\"row\"><b>Product " + modelData[i].product_ID + ":</b></div>";
                    str = str + "<div class=\"row\">";
                    str = str + "<div class=\"col-md-2\" id=\"carPicList\" style=\"background-image: url('CarPicture.jpg');\"></div>";
                    str = str + "<div class=\"col-md-10\">";
                    str = str + "<h3>" + modelData[i].product_title + "</h3>";
                    str = str + "<p3>" + modelData[i].product_desc + "</p>";
                    str = str + "</div></div></a></div>";
                }
            } 
        }
        pList.innerHTML = str;
    }
</script>
