<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarTrading</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CarTrading.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">CarTrading</a>

                @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")))
                        {
                            <!--
                            <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Create">Dashboard</a>
                    -->
                            <a class="navbar-brand" asp-area="" asp-controller="ProductList" asp-action="Index">Product List</a>
                    <a class="navbar-brand" asp-area="" asp-controller="UserAccount" asp-action="Index">User Account</a>
                        }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end ">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")))
                        {
                                <div class="username-padding"><h3>
                                        Hi, @Context.Session.GetString("Username") (@Context.Session.GetString("roletype"))  
                                </h3></div>
                                <li class="nav-item" style="padding-left: 60px;">
                                    <a class="btn btn-dark nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CarTrading
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
