
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>User Account</h1>
</div>

<div class="userButtons">
    <a href="/UserAccount/UserDetails">
        <button>User Details</button>
    </a>

    <br /><br />

    <!--
    <a href="/UserAccount/ProductBought">
        <button>Product Bought</button>
    </a>

    <br /><br />
    -->

    <a href="/UserAccount/ProductOnSale">
        <button>Product On Sale</button>
    </a>
    <!--
    <br /><br />

    <a href="/UserAccount/NewProduct">
        <button>New Product</button>
    </a>
    -->
</div>

