
@{
    ViewData["Title"] = "NewProduct";
}

<div class="text-center">
    <h1>New Product</h1>
</div>

<div class="backButton">
    <a href="/UserAccount">
        <button>Back</button>
    </a>
</div>

