
@{
    ViewData["Title"] = "ProductOnSale";
}

<div class="text-center">
    <h1>Product On Sale </h1>
</div>

<div class="backButton">
    <a href="/UserAccount">
        <button>Back</button>
    </a>
</div>

