
@{
    ViewData["Title"] = "UserDetails";
}

<div class="text-center">
    <h1>User Details</h1>
    <h3>Name: @Model.Username</h3>
    <h3>Email: @Model.Email</h3>
    <h3>Role: @Model.Role</h3>
</div>

<div class="backButton">
    <a href="/UserAccount">
        <button>Back</button>
    </a>
</div>

